body {
  color: #eee;
  background: #242424;
}
.container {
  margin: 0 auto;
}
.jumbotron {
  padding: 100px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  color: #222;
  background-color: #eee;
  border-radius: 13px;
  font-family: "Helvetica Neue Ultra Light", "Helvetica Neue", "Arial Narrow", "Arial", sans-serif;
}
h1 {
  line-height: 1;
}
p {
  line-height: 1.4;
}
button {
  background: #eee;
  padding: 10px 20px;
}
.home h1 {
    text-align:center;
    font-size:36px;
    border-bottom:1px solid #555;
    padding-bottom:15px;
}
.home h2,
.home h3,
.home h4,
.home ul {
    text-align:center;
}
ul {
    padding:0;
}
li {
    list-style-type:none;
}
.home .button-strip {
    margin: 35px auto;
    text-align:center;
}
.home .btn {
    display: inline-block;
}
.home .hometext {
    min-width:300px;
    margin:0 auto;
    text-align: center;
}
.dank {
    position:relative;
    text-align:initial;
}
