<template name="home">
  <div class="container home">
    <div class="jumbotron">
        <h1>Welcome to Dankerfall</h1>
        {{#if homepage page="home"}}
            <div id="button-strip">
                <button id="newButton" class="btn btn-default">New Game</button>
                <button id="joinButton" class="btn btn-default">Join Game</button>
            </div>
        {{/if}}
        {{#if homepage page="new"}}
            <h2>New Game</h2>
            <input type="text" class="form-control hometext" placeholder="Enter your name" id="newName" />
            <div id="button-strip">
                <button id="createButton" class="btn btn-default">Create</button>
                <button class="btn btn-default back">Back</button>
            </div>
        {{/if}}
        {{#if homepage page="join"}}
            <h2>Join Game</h2>
            <input type="text" class="form-control hometext" placeholder="Enter an access code" id="joinCode" />
            <input type="text" class="form-control hometext" placeholder="Enter your name" id="joinName" />
            <div id="button-strip">
                <button id="enterButton" class="btn btn-default">Join</button>
                <button class="btn btn-default back">Back</button>
            </div>
        {{/if}}
        
    </div>
  </div>
</template>
